<!DOCTYPE html>
<html lang="en">
<head>
    
    <title><%= user.Name %>'s profile</title>
    <style> body{font-family: Arial, Helvetica, sans-serif; margin: 40px;}
     .profile-box {border: 1px solid #ccc; 
     padding: 20px; 
     width: 400px;} .profile-header{ font-size: 24px; font-weight: bold;} 
    .link { display: inline-block;
            margin-top: 10px;
            color: blue;
            text-decoration: underline;}</style>
</head>
<body>
    <div class="profile-box">
        <div class="profile-header">
             @<%= user.Name %>
            <button style=" background-color:gray;
            border-radius: 25px; 
            padding: 5px 10px; 
            margin-left: 10px; cursor: pointer;">
            <a href="/edit"><LI> Edit </LI></a>
            </button>
        </div>
        <p><strong>Nickname:</strong> <%= user.Name %> </p> 
        <p><strong>Age:</strong> <%= user.Age %> </p>
        <p><strong>Bio:</strong> <%= user.Bio %> </p>
        <a class="link" href="/">Go to user</a>
    </div>
</body>
</html>